# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dataset
data

# Training logs
fed_align/
fed_align_*/
align_fl_*
fed_avg/
fed_prox/
hybrid_moon_align/
moon_fl/
wandb/
*.log

# experiments 
examples/
